In [29]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('../data/led.csv')

In [31]:
data.head(20)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
10,Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
11,Afghanistan,2004,Developing,57.0,293.0,87,0.02,15.296066,67.0,466,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8
12,Afghanistan,2003,Developing,56.7,295.0,87,0.01,11.089053,65.0,798,...,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
13,Afghanistan,2002,Developing,56.2,3.0,88,0.01,16.887351,64.0,2486,...,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
14,Afghanistan,2001,Developing,55.3,316.0,88,0.01,10.574728,63.0,8762,...,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
19,Albania,2012,Developing,76.9,86.0,0,5.14,412.443356,99.0,9,...,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2

In [32]:
data['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "Côte d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [33]:
len(data['Country'].unique())

193

In [34]:
data.columns = [column.lower().strip() for column in data.columns]

In [35]:
data.columns

Index(['country', 'year', 'status', 'life expectancy', 'adult mortality',
       'infant deaths', 'alcohol', 'percentage expenditure', 'hepatitis b',
       'measles', 'bmi', 'under-five deaths', 'polio', 'total expenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness  1-19 years',
       'thinness 5-9 years', 'income composition of resources', 'schooling'],
      dtype='object')

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
country                            2938 non-null object
year                               2938 non-null int64
status                             2938 non-null object
life expectancy                    2928 non-null float64
adult mortality                    2928 non-null float64
infant deaths                      2938 non-null int64
alcohol                            2744 non-null float64
percentage expenditure             2938 non-null float64
hepatitis b                        2385 non-null float64
measles                            2938 non-null int64
bmi                                2904 non-null float64
under-five deaths                  2938 non-null int64
polio                              2919 non-null float64
total expenditure                  2712 non-null float64
diphtheria                         2919 non-null float64
hiv/aids                           2938 non-null float64
gdp                                2490 non-null float64
population                         2286 non-null float64
thinness  1-19 years               2904 non-null float64
thinness 5-9 years                 2904 non-null float64
income composition of resources    2771 non-null float64
schooling                          2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [37]:
data.describe()

,year,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,bmi,under-five deaths,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [38]:
data['status'].unique()

array(['Developing', 'Developed'], dtype=object)

In [41]:
data[data['status']=='Developed']['country'].unique()

array(['Australia', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Germany', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Singapore', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America'], dtype=object)

In [43]:
data[data['country']=='Romania'][['country' ,'year', 'status', 'life expectancy',
       'infant deaths', 'alcohol',  'bmi',    'gdp', 'population'
      ]]

,country,year,status,life expectancy,infant deaths,alcohol,bmi,gdp,population
2119,Romania,2015,Developed,75.0,2,NaN,6.7,8958.788593,19815481.0
2120,Romania,2014,Developed,74.8,2,0.01,59.9,12.277330,1998979.0
2121,Romania,2013,Developed,74.6,2,9.59,59.2,9585.266593,19983693.0
2122,Romania,2012,Developed,74.4,2,9.58,58.4,8558.397660,25835.0
2123,Romania,2011,Developed,74.3,2,9.10,57.7,92.277825,2147528.0
2124,Romania,2010,Developed,73.4,2,9.00,56.9,8297.483621,2246871.0
2125,Romania,2009,Developed,73.1,2,10.40,56.3,822.183290,2367487.0
2126,Romania,2008,Developed,73.1,2,11.90,55.6,1136.473560,2537875.0
2127,Romania,2007,Developed,72.9,3,10.60,55.0,8214.185378,2882982.0
2128,Romania,2006,Developed,72.5,3,8.51,54.4,5828.745662,2119376.0
2129,Romania,2005,Developed,71.9,3,7.68,53.9,4676.315183,21319685.0
2130,Romania,2004,Developed,71.7,4,9.82,53.4,3552.924520,21451748.0
2131,Romania,2003,Developed,71.1,4,8.78,52.9,2774.955860,21574326.0
2132,Romania,2002,Developed,77.0,4,9.62,52.4,2124.873613,2173496.0
2133,Romania,2001,Developed,78.0,4,9.78,51.9,1839.729450,2213197.0
2134,Romania,2000,Developed,77.0,4,10.16,51.4,1668.162731,22442971.0

In [44]:
data.isna().sum()

country                              0
year                                 0
status                               0
life expectancy                     10
adult mortality                     10
infant deaths                        0
alcohol                            194
percentage expenditure               0
hepatitis b                        553
measles                              0
bmi                                 34
under-five deaths                    0
polio                               19
total expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                448
population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
income composition of resources    167
schooling                          163
dtype: int64

In [49]:
 data_reduced = data[['country', 'year', 'status', 'life expectancy',
       'measles', 'bmi', 'under-five deaths', 'polio', 'hiv/aids']]

In [54]:
data_reduced.isna().sum()

country               0
year                  0
status                0
life expectancy      10
measles               0
bmi                  34
under-five deaths     0
polio                19
hiv/aids              0
dtype: int64

In [59]:
data_reduced[data_reduced['life expectancy'].isna()==True]

,country,year,status,life expectancy,measles,bmi,under-five deaths,polio,hiv/aids
624,Cook Islands,2013,Developing,NaN,0,82.8,0,98.0,0.1
769,Dominica,2013,Developing,NaN,0,58.4,0,96.0,0.1
1650,Marshall Islands,2013,Developing,NaN,0,81.6,0,79.0,0.1
1715,Monaco,2013,Developing,NaN,0,NaN,0,99.0,0.1
1812,Nauru,2013,Developing,NaN,0,87.3,0,87.0,0.1
1909,Niue,2013,Developing,NaN,0,77.3,0,99.0,0.1
1958,Palau,2013,Developing,NaN,0,83.3,0,99.0,0.1
2167,Saint Kitts and Nevis,2013,Developing,NaN,0,5.2,0,96.0,0.1
2216,San Marino,2013,Developing,NaN,0,NaN,0,69.0,0.1
2713,Tuvalu,2013,Developing,NaN,0,79.3,0,9.0,0.1

In [61]:
data_reduced[data_reduced['bmi'].isna()==True]

,country,year,status,life expectancy,measles,bmi,under-five deaths,polio,hiv/aids
1715,Monaco,2013,Developing,NaN,0,NaN,0,99.0,0.1
2216,San Marino,2013,Developing,NaN,0,NaN,0,69.0,0.1
2409,South Sudan,2015,Developing,57.3,878,NaN,39,41.0,3.4
2410,South Sudan,2014,Developing,56.6,441,NaN,39,44.0,3.5
2411,South Sudan,2013,Developing,56.4,525,NaN,40,5.0,3.6
2412,South Sudan,2012,Developing,56.0,1952,NaN,40,64.0,3.8
2413,South Sudan,2011,Developing,55.4,1256,NaN,41,66.0,3.9
2414,South Sudan,2010,Developing,55.0,0,NaN,41,NaN,4.0
2415,South Sudan,2009,Developing,54.3,0,NaN,42,NaN,4.2
2416,South Sudan,2008,Developing,53.6,0,NaN,42,NaN,4.2
2417,South Sudan,2007,Developing,53.1,0,NaN,43,NaN,4.2
2418,South Sudan,2006,Developing,52.5,0,NaN,43,NaN,4.1
2419,South Sudan,2005,Developing,51.9,0,NaN,44,NaN,3.9
2420,South Sudan,2004,Developing,51.4,0,NaN,45,NaN,3.8
2421,South Sudan,2003,Developing,58.0,0,NaN,46,NaN,3.5
2422,South Sudan,2002,Developing,52.0,0,NaN,48,NaN,3.3
2423,South Sudan,2001,Developing,49.6,0,NaN,49,NaN,3.0
2424,South Sudan,2000,Developing,48.9,0,NaN,50,NaN,2.7
2457,Sudan,2015,Developing,64.1,3585,NaN,85,93.0,0.3
2458,Sudan,2014,Developing,63.8,676,NaN,86,94.0,0.3
2459,Sudan,2013,Developing,63.5,2813,NaN,88,93.0,0.3
2460,Sudan,2012,Developing,63.2,8523,NaN,89,92.0,0.3
2461,Sudan,2011,Developing,62.7,5616,NaN,91,93.0,0.3
2462,Sudan,2010,Developing,62.5,680,NaN,92,9.0,0.3
2463,Sudan,2009,Developing,62.0,68,NaN,94,81.0,0.3
2464,Sudan,2008,Developing,61.8,129,NaN,95,85.0,0.3
2465,Sudan,2007,Developing,61.4,327,NaN,97,84.0,0.3
2466,Sudan,2006,Developing,61.0,228,NaN,99,77.0,0.2
2467,Sudan,2005,Developing,67.0,1374,NaN,101,78.0,0.2
2468,Sudan,2004,Developing,59.7,9562,NaN,102,74.0,0.2
2469,Sudan,2003,Developing,59.6,4381,NaN,104,69.0,0.2
2470,Sudan,2002,Developing,59.4,4529,NaN,106,6.0,0.2
2471,Sudan,2001,Developing,58.9,4362,NaN,108,66.0,0.2
2472,Sudan,2000,Developing,58.6,2875,NaN,109,62.0,0.1

In [63]:
data_reduced[data_reduced['polio'].isna()==True]

,country,year,status,life expectancy,measles,bmi,under-five deaths,polio,hiv/aids
1742,Montenegro,2005,Developing,73.6,0,55.7,0,NaN,0.1
1743,Montenegro,2004,Developing,73.5,0,55.0,0,NaN,0.1
1744,Montenegro,2003,Developing,73.5,0,54.2,0,NaN,0.1
1745,Montenegro,2002,Developing,73.4,0,53.5,0,NaN,0.1
1746,Montenegro,2001,Developing,73.3,0,52.7,0,NaN,0.1
1747,Montenegro,2000,Developing,73.0,0,51.9,0,NaN,0.1
2414,South Sudan,2010,Developing,55.0,0,NaN,41,NaN,4.0
2415,South Sudan,2009,Developing,54.3,0,NaN,42,NaN,4.2
2416,South Sudan,2008,Developing,53.6,0,NaN,42,NaN,4.2
2417,South Sudan,2007,Developing,53.1,0,NaN,43,NaN,4.2
2418,South Sudan,2006,Developing,52.5,0,NaN,43,NaN,4.1
2419,South Sudan,2005,Developing,51.9,0,NaN,44,NaN,3.9
2420,South Sudan,2004,Developing,51.4,0,NaN,45,NaN,3.8
2421,South Sudan,2003,Developing,58.0,0,NaN,46,NaN,3.5
2422,South Sudan,2002,Developing,52.0,0,NaN,48,NaN,3.3
2423,South Sudan,2001,Developing,49.6,0,NaN,49,NaN,3.0
2424,South Sudan,2000,Developing,48.9,0,NaN,50,NaN,2.7
2615,Timor-Leste,2001,Developing,59.4,0,12.3,4,NaN,0.1
2616,Timor-Leste,2000,Developing,58.7,0,11.9,4,NaN,0.1

In [67]:
data_clean = data_reduced.dropna()
data_clean.isna().sum()

country              0
year                 0
status               0
life expectancy      0
measles              0
bmi                  0
under-five deaths    0
polio                0
hiv/aids             0
dtype: int64

In [69]:
data_clean.to_csv('../data/data_clean.csv')